#muzes
  .grid
    - @muzes.each do |muze|
      .muze-thumb
        .top
          %img.muze-thumbnail{:src => "#{muze.thumbnail_image}" }
        .bottom
          .title
            = muze.title
            .occupation
              = muze.occupation
        .muze-thumb-overlay
          .top
            .quote
              = muze.pullquote
            .causes-and-industries
              - muze.get_industries.each do |ind|
                %span.industry
                  %img{:src => "/assets/#{ind.label}.png"}
          .bottom
            .title
              %a{:href => "#{muze.get_url}"}
                = muze.title
              .occupation
                = muze.occupation