:javascript
  var twitterChart;
  var facebookChart;
  var twitterFollowerChartOptions = {chart : { renderTo : "twitter-followers-container",
                                               type : 'area',
                                               width : 360,
                                               height : 300,
                                               backgroundColor : null },
                                   xAxis : { type : 'datetime', 
                                             labels : { formatter: function() {return Highcharts.dateFormat('%d %b', this.value);} },
                                             categories : []},
                                   yAxis : { title : { text : 'Number of Followers'}, maxPadding: 0.1, min : 2000000},
                                   title : { text : 'Twitter Followers' },
                                   legend : { enabled: false },
                                   plotOptions : {series: {}},
                                  series : [{ data : [], name : 'Followers'}]};

  var facebookLikesChartOptions = {chart : { renderTo : "facebook-likes-container", 
                                             type : 'area',
                                             width : 360,
                                             height : 300,
                                             backgroundColor : null },
                                   xAxis : { type : 'datetime',
                                             labels : { formatter: function() {return Highcharts.dateFormat('%d %b', this.value);} },
                                             categories : [] },
                                   legend : { enabled: false },
                                   title : { text : 'Facebook Likes' },
                                   yAxis : { title : { text : 'Number of Likes'}, maxPadding: 0.1, min : 1000000},
                                   plotOptions : {series: {}},
                                   series : [{ data : [], name : 'Likes'}]};
  $(function() {
    
    function twitter_all_chart() {
      $.get("/dashboard/twitter_follower_counts", function(data) {
        twitterFollowerChartOptions.series[0].data = []
        twitterFollowerChartOptions.xAxis.categories = []
        $.each(data.reverse(), function(i, stats) {
          if(i%3 == 0){
            twitterFollowerChartOptions.xAxis.categories.unshift(Date.parse(stats.run_at));
            twitterFollowerChartOptions.series[0].data.unshift(stats.total_twitter_followers);
          }
        });
        twitterChart = new Highcharts.Chart(twitterFollowerChartOptions);
      });
    }
    
    function twitter_last7_chart() {
      $.get("/dashboard/twitter_follower_counts", function(data) {
        twitterFollowerChartOptions.series[0].data = []
        twitterFollowerChartOptions.xAxis.categories = []
        $.each(data.reverse(), function(i, stats) {
          if(i < 6) {
            twitterFollowerChartOptions.xAxis.categories.unshift(Date.parse(stats.run_at));
            twitterFollowerChartOptions.series[0].data.unshift(stats.total_twitter_followers);
          }
        });
        twitterChart = new Highcharts.Chart(twitterFollowerChartOptions);
      });
    }
    
    function twitter_weekly_chart() {
      $.get("/dashboard/twitter_follower_counts", function(data) {
        twitterFollowerChartOptions.series[0].data = []
        $.each(data.reverse(), function(i, stats) {
          if(i % 7 == 0) {
            twitterFollowerChartOptions.xAxis.categories.unshift(Date.parse(stats.run_at));
            twitterFollowerChartOptions.series[0].data.unshift(stats.total_twitter_followers);
          }
        });
        twitterChart = new Highcharts.Chart(twitterFollowerChartOptions);
      });
    }
    
    function facebook_all_chart() {
      $.get("/dashboard/facebook_likes_counts", function(data) {
        facebookLikesChartOptions.series[0].data = []
        facebookLikesChartOptions.xAxis.categories = []
        $.each(data.reverse(), function(i, stats) {
          if (i%3 == 0){
            facebookLikesChartOptions.xAxis.categories.unshift(Date.parse(stats.run_at));
            facebookLikesChartOptions.series[0].data.unshift(stats.total_num_likes);
          }
        });
        facebookChart = new Highcharts.Chart(facebookLikesChartOptions);
      });
    }
    
    function facebook_last7_chart() {
      $.get("/dashboard/facebook_likes_counts", function(data) {
        facebookLikesChartOptions.series[0].data = []
        facebookLikesChartOptions.xAxis.categories = []
        $.each(data.reverse(), function(i, stats) {
          if(i < 6) {
            facebookLikesChartOptions.xAxis.categories.unshift(Date.parse(stats.run_at));
            facebookLikesChartOptions.series[0].data.unshift(stats.total_num_likes);
          }
        });
        facebookChart = new Highcharts.Chart(facebookLikesChartOptions);
      });
    }
    
    function facebook_weekly_chart() {
      $.get("/dashboard/facebook_likes_counts", function(data) {
        facebookLikesChartOptions.series[0].data = []
        facebookLikesChartOptions.xAxis.categories = []
        $.each(data.reverse(), function(i, stats) {
          if(i% 7 == 0) {
            facebookLikesChartOptions.xAxis.categories.unshift(Date.parse(stats.run_at));
            facebookLikesChartOptions.series[0].data.unshift(stats.total_num_likes);
          }
        });
        facebookChart = new Highcharts.Chart(facebookLikesChartOptions);
      });
    }
    
    function reRenderTwitterChart(event) {
      id = $(event.target).attr('id');      
      if(id == 'last_7') {twitter_last7_chart()}
      else if (id == 'weekly') {twitter_weekly_chart()}
      else {twitter_all_chart()}
    }
    
    function reRenderFacebookChart(event) {
      id = $(event.target).attr('id');
      if (id == 'last_7') {facebook_last7_chart()}
      else if (id == 'weekly') {facebook_weekly_chart()}
      else {facebook_all_chart()}
    }
    
    $('#twitter-stats .chart-sort a').click(reRenderTwitterChart);
   
    $('#facebook-stats .chart-sort a').click(reRenderFacebookChart);


    twitter_all_chart()
    facebook_all_chart()
  });
  
#dashboard
  .muze-stats
    %h1
      = @muzes.size
      Muzes Tracked
  
    #twitter-stats
      #twitter-followers-container
      
      .chart-sort
        %strong
          Show
        %a{:title => "Sort: daily", :id => 'last_7', 'data-cycle' => 1} Last 7 days
        | 
        %a{:title => "Sort: Weekly", :id => 'weekly', 'data-cycle' => 2} Weekly
        |
        %a{:title => "Sort: all time", :id => 'all', 'data-cycle' => 1} All
     
      #twitter-count.stat
        = number_with_delimiter(@stats.last['total_twitter_followers'])
        Followers
        %span.none{:class => "#{count_color(@followers_delta_array['all_muzes'])}"}
          = show_delta(@followers_delta_array['all_muzes'])
      #most-followed
        %h3
          Most "Followed" Muzes
        - @muzes.sort_by(&:num_twitter_followers).reverse[0..19].each do |muze|
          .muze
            %span.pic
              %img{:src => "#{muze.profile_image}"}
            %span.name{:class => "#{name_size(muze.full_name)}"}
              = twitter_hyper_link(muze)
            %span.count
              = number_with_delimiter(muze.num_twitter_followers)
              %span.none{:class => "#{count_color(@followers_delta_array[muze.id])}"}
                = show_delta(@followers_delta_array[muze.id])     

    #facebook-stats
      #facebook-likes-container
      .chart-sort
        %strong
          Show
        %a{:title => "Sort: daily", :id => 'last_7', 'data-cycle' => 1 } Last 7 days
        | 
        %a{:title => "Sort: Weekly", :id => 'weekly', 'data-cycle' => 3 } Weekly
        |
        %a{:title => "Sort: all time", :id => 'all', 'data-cycle' => 1} All
      
      #facebook-count.stat
        = number_with_delimiter(@stats.last['total_num_likes'])
        Likes
        %span.none{:class => "#{count_color(@likes_delta_array['all_muzes'])}"}
          = show_delta(@likes_delta_array['all_muzes'])
      #most-liked
        %h3
          Most "Liked" Muzes
        - @muzes.sort_by(&:num_likes).reverse[0..19].each do |muze|
          .muze
            %span.pic
              %img{:src => "#{muze.profile_image}"}
            %span.name{:class => "#{name_size(muze.full_name)}"}
              = fb_hyper_link(muze)
            %span.count
              = number_with_delimiter(muze.num_likes)
              %span.none{:class => "#{count_color(@likes_delta_array[muze.id])}"}
                = show_delta(@likes_delta_array[muze.id])
    .clear
