#header
  .logo.span4
    %img{:src => '/assets/logo.png'}
  .search.span3
    %form
      %input.input-xlarge{:type => 'text', :placeholder => 'search here'}
  .social-media.span2.pull-right
    .site
      %a{:href => 'http://muzes.org/feed', :target => '_blank'}
        %img{:src => '/assets/rss.png'}
    .site
      %a{:href => 'http://twitter.com/wearemuzes', :target => '_blank'}
        %img{:src => '/assets/twitter.png'}
    .site
      %a{:href => 'http://facebook.com/wearemuze', :target => '_blank'}
        %img{:src => '/assets/facebook.png'}
    .site
      %a{:href => 'http://pinterest.com/wearemuze', :target => '_blank'}
        %img{:src => '/assets/pinterest.png'}
  .login-register.span2
  .clear
#header-nav
  .tagline.span4
    unlocking human potential
  .sections.span6.pull-right
    .section.last
      About Us
    .section
      %a{:href => '/videos'}
        Videos
    .section
      %a{:href => '/stories'}
        Stories
    .section
      Playlist
    .section
      %a{:href => '/muzes'}
        Muzes