#campaigns
  #show
    .title
      Helping Haiti
    .video
      :plain
        <iframe width="560" height="315" src="http://www.youtube.com/embed/kfevgf4XoCE" frameborder="0" allowfullscreen></iframe>
    .share-buttons
      .share
        %a{:href => '#'}
          Twitter
      .share
        %a{:href => '#'}
          Facebook
      .share
        %a{:href => '#'}
          Pinterest
      .share
        %a{:href => '#'}
          Tumblr
      .clear