// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
#campaigns
  #show
    width: 800px
    margin: auto
    .title
      text-align: center
      font-size: 35pt
      font-weight: bold
      margin: 15px auto
    .video
      text-align: center
    .share-buttons
      width: 100%
      margin: auto
      text-align: center
      .share
        float: left
        width: 21%
        padding: 15px