// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import 'dimensions'
@import 'palette'

#dashboard
  @include content_area
  .muze-stats
    margin: 5px auto 
    h1
      text-align: center
    .chart-sort
      text-align: center
    #twitter-stats
      width: 360px
      margin: 10px
      float: left      
      text-align: left
    #facebook-stats
      width: 360px
      margin: 10px
      float: right
      text-align: left
    #most-followed, #most-liked
      margin-top: 15px
      width: 365px

      .muze:nth-child(2n-1)
        background-color: $darkBackground
    .stat
      font-size: 18pt
      font-weight: bold
      text-align: center
      margin: 15px 5px
      .positive_count
        color: green
      .negative_count
        color: red
      .neutral_count
        color: gray
    .muze
      margin: 10px 0px
      padding: 5px
      border-radius: 5px
      .pic
        img
          width: 45px
          border-radius: 5px
      .name
        font-weight: bold
        a
          color: black
      .large_name
        font-size: 15pt
      .small_name
        font-size: 12pt
      .count
        font-style: italic
        float: right
      .positive_count
        color: green
      .negative_count
        color: red
      .neutral_count
        color: gray