@import 'dimensions'
@import 'palette'

#header-content
  @include content_area
  padding: 15px 0px 2px
  .logo
    margin-left: 0px
  .search
    padding-top: 15px
  .social-media
    padding-top: 15px
    margin-left: 0px
    .site
      background: url('/assets/nav-bg.jpg')
      width: 28px
      height: 28px
      border-radius: 14px
      text-align: center
      float: left
      margin: 0px 3px
      &:hover
        background-color: $teal
#header-nav
  background: url('/assets/nav-bg.jpg')
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  height: 40px
  .tagline
    color: $white
    text-shadow: none
    font-size: 14px
    text-align: center
    margin: 0
    height: 30px
    padding: 5px 0px
    text-transform: uppercase
    letter-spacing: .1em
    line-height: 2em
  .sections
    text-align: right
    height: 40px
    .section
      float: right
      font-size: 14px
      text-shadow: none
      padding: 5px 15px
      line-height: 2em
      height: 30px
      font-weight: bold
      border-left: 1px solid $white
      &:hover
        background-color: $teal
        color: $white
        opacity: 0.5
      a
        text-decoration: none
        color: $black
        &:hover
          color: $white
    .last
      border-top-right-radius: 10px