// Place all the styles related to the muzes controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import 'dimensions'
@import 'palette'

#muzes
  @include content_area
  .grid
    .muze-thumb
      float: left
      position: relative
      width: 150px
      height: 215px
      margin: 10px
      background: url('/assets/bg-dark.jpg')
      border-radius: 10px
      font-size: 11px
      img.muze-thumbnail
        border-top-right-radius: 10px
        border-top-left-radius: 10px
      .bottom
        .title
          font-weight: bold
          padding: 5px
        .occupation
          font-weight: normal
      .muze-thumb-overlay
        display: none
        position: absolute
        width: 150px
        height: 215px
        z-index: 1
        top: 0
        left: 0
        .top
          position: absolute
          top: 0px
          height: 150px
          width: 150px
          border-top-right-radius: 10px
          border-top-left-radius: 10px
          background-color: rgba(0,0,0,0.7)
          .quote
            padding: 5px
            color: $white
            font-style: italic
          .causes-and-industries
            position: absolute
            bottom: 3px
            left: 3px
        .bottom
          position: absolute
          bottom: 0px
          height: 65px
          width: 150px
          border-bottom-right-radius: 10px
          border-bottom-left-radius: 10px
          background-color: $white
          .title
            padding: 5px
#muze
  @include content_area
  .bio
    width: 288px
    float: left
    padding: 15px
    margin: 2px auto
    background: url('/assets/bg-dark.jpg')
    p
      font-size: 11px !important
      color: $textbrown
      line-height: 1.2em
      letter-spacing: 0.001em
