// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import 'dimensions'
@import 'palette'

#stories
  @include content_area
  .story
    float: left
    width: 288px
    font-size: 11px
    padding: 15px
    background-color: $white
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px  
    .title
      padding-top: 5px
      font-weight: bold 