<!DOCTYPE html>
%html
  %head
    %title
      Muze
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "bootstrap.css"

    = javascript_include_tag "jquery-1.7.2.js"
    = javascript_include_tag "highcharts.src.js"
    = javascript_include_tag "application"

    = csrf_meta_tags

    %body
      .container
        
        #header-content
          = render :partial => '/shared/header'

        #main-content
          = yield
          
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}= value
