<!DOCTYPE html>
%html
  %head
    %title
      Muze
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "bootstrap-responsive.min.css"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body      
    #main-content
      = yield